h1 {
	text-align: center;
	color: red;
}
h2 {
	color: red;
}
	
body {
	background-color: #00001a;
}

section {
	text-align: center;
	border-top: 1px solid red;
	padding-top: 50px;
	padding-bottom: 50px;
}

section h2,h3,p {
	color: white;
}

img {
	width: 200px;
}

.presidentsImage {
	width: 100%;
}

aside a {
	color: white;
	text-decoration: none;
}

aside a:hover {
	color: red;
}